//-
  This file contains only slides
  See _layout.jade for the layout and setup code

slide.logoslide.nobackground
  article.flexbox.vcenter
    span
      img(src='images/pandastrike-logo-text.jpg')

slide.title-slide.segue.nobackground
  aside.gdbar
    img(src='images/pandastrike-logo-256.png')
  // The content of this hgroup is replaced programmatically through the slide_config.json.
  hgroup.auto-fadein
    h1(data-config-title='')
      // populated from slide_config.json
    h2(data-config-subtitle='')
      // populated from slide_config.json
    p(data-config-presenter='')
      // populated from slide_config.json

slide
  hgroup
    h2 Outline
  article
    :markdown
      * Why Yet Another Framework?
      * Polymer architecture
      * Case Study: Glideroom

slide
  hgroup
    h2  Why Yet Another Framework?
  article
    :markdown
      * Polyfills for old browsers
      * Simpler, declarative syntax
      * No more `document.registerElement`
      * Declarative layout using attributes
      * Component library
      * UI designer

slide
  hgroup
    h2 Declarative Syntax
  article
    pre.prettyprint(data-lang="html").
      &lt;!-- import Polymer -->
      &lt;link rel="import" href="polymer/polymer.html">
      &lt;!-- define custom element -->
      &lt;polymer-element name="my-element" noscript>
        &lt;template>
          &lt;h2>Hi, I'm a custom element!&lt;/h2>
        &lt;/template>
      &lt;/polymer-element>

    ul.build
      li Polymer uses custom elements to define custom elements (Yo dawg...)
      li <code>&lt;template></code> defines the contents of the Shadow DOM
      li <code>noscript</code> attribute lets us define element without JavaScript

slide
  hgroup
    h2 Using it
  article
    pre.prettyprint(data-lang="html").
      &lt;head>
        &lt;!-- load platform polyfills -->
        &lt;script src="platform/platform.js">&lt;/script>
        &lt;!-- import custom elements -->
        &lt;link rel="import" href="polymer/polymer.html">
        &lt;link rel="import" href="my-element.html">
      &lt/head>

      &lt;body>
        &lt;my-element>&lt;/my-element>
      &lt;/body>

    h3 Preview
    iframe#example1(data-src="/examples/1/index.html" style="height: 70px")

slide
  hgroup
    h2 Data Binding
  article
    pre.prettyprint(data-lang="html").
      &lt;polymer-element name="my-element">
        &lt;template>
          &lt;h2><b>{{greeting}}</b>&lt;/h2>
        &lt;/template>
        &lt;script src="my-element.js">&lt;/script>
      &lt;/polymer-element>

    pre.prettyprint(data-lang="javascript").
      Polymer("my-element", {
        <b>greeting: "Hi, I'm a custom element!"</b>
      });

    h3 Preview
    iframe#example2(data-src="/examples/2/index.html" style="height: 70px")

  aside.note
    section
      ul
        li Use web console to manipulate the <code>greeting</code> attribute
        li Mention that bindings are TWO-WAY (for elements that support it)

slide
  hgroup
    h2 Declarative Event Mapping
  article
    pre.prettyprint(data-lang="html").
      &lt;polymer-element name="my-element" <b>on-click="{{clickHandler}}"</b>>
        &lt;template>
          &lt;h2>{{greeting}}&lt;/h2>
        &lt;/template>
        &lt;script src="my-element.js">&lt;/script>
      &lt;/polymer-element>

    pre.prettyprint(data-lang="javascript").
      Polymer("my-element", {
        greeting: "Hi, I'm a custom element",
        <b>clickHandler: function() {
          this.greeting = "Hello, " + prompt("What is your name?") + "!";
        }</b>
      });

    iframe#example3(data-src="/examples/3/index.html" style="height: 70px")

slide
  hgroup
    h2
  article


slide.segue.dark.nobackground
  aside.gdbar.right.bottom
    img(src='images/pandastrike-logo-256.png')
  hgroup.auto-fadein
    h2 Declarative Layout
    h3 Flexbox made simple

slide
  hgroup
    h2 Use attributes, not CSS
  article
    pre.prettyprint(data-lang="html").
      &lt;div layout horizontal>
      &lt;/div>

slide.thank-you-slide.segue.nobackground
  aside.gdbar.right
    img(src='images/pandastrike-logo-256.png')
  article.flexbox.vleft.auto-fadein
    h2 &lt;Thank You!&gt;
    p Important contact information goes here.
  p.auto-fadein(data-config-contact='')
    // populated from slide_config.json

slide.logoslide.dark.nobackground
  article.flexbox.vcenter
    span
      img(src='images/pandastrike-wide.png')

slide.backdrop

script(type="text/javascript").
  // find all iframes and define shortcut variables according to their IDs
  [].slice.apply(document.querySelectorAll("iframe")).forEach(function(example) {
    window[example.id] = example;
  });

